csd-automation/src/flows/Crea_Cartellino_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <decisions>
        <name>Data_Giustificativo_Check</name>
        <label>Data Giustificativo Check</label>
        <locationX>536</locationX>
        <locationY>446</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_get_Record_dont_find_records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Query_Cartellino_Records</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crea_Cartellino_record</targetReference>
            </connector>
            <label>if get Record  don&apos;t find records</label>
        </rules>
        <rules>
            <name>if_get_Record_find_records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Query_Cartellino_Records</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Data_Cartellino_non_Valida</targetReference>
            </connector>
            <label>if get Record find records</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>GiustificativoPicklistSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Giustificativo__c</picklistField>
        <picklistObject>Time_Management__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Crea Cartellino Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Crea Cartellino Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crea_Cartellino_record</name>
        <label>Crea Cartellino record</label>
        <locationX>272</locationX>
        <locationY>565</locationY>
        <inputAssignments>
            <field>Data_Giustificativo__c</field>
            <value>
                <elementReference>Data_Giustificativo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dipendente__c</field>
            <value>
                <elementReference>DipendenteLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Giustificativo__c</field>
            <value>
                <elementReference>Giustificativo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Note__c</field>
            <value>
                <elementReference>Note</elementReference>
            </value>
        </inputAssignments>
        <object>Time_Management__c</object>
    </recordCreates>
    <recordLookups>
        <description>Fa una query per controllare che il dipendente selezionato non abbia un cartellino già inserito per quella data</description>
        <name>Query_Cartellino_Records</name>
        <label>Query Cartellino Records</label>
        <locationX>536</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Data_Giustificativo_Check</targetReference>
        </connector>
        <filters>
            <field>Dipendente__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DipendenteLookup.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Data_Giustificativo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Data_Giustificativo</elementReference>
            </value>
        </filters>
        <object>Time_Management__c</object>
        <outputReference>recordquery</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Dipendente__c</queriedFields>
        <queriedFields>Data_Giustificativo__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <screens>
        <name>Crea_Cartellino_Flow</name>
        <label>Crea Cartellino Flow</label>
        <locationX>536</locationX>
        <locationY>206</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Query_Cartellino_Records</targetReference>
        </connector>
        <fields>
            <name>DipendenteLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Dipendente__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Dipendente</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Time_Management__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Giustificativo</name>
            <choiceReferences>GiustificativoPicklistSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Giustificativo</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Data_Giustificativo</name>
            <dataType>Date</dataType>
            <fieldText>Data Giustificativo</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Note</name>
            <fieldText>Note</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Data_Cartellino_non_Valida</name>
        <label>Data Cartellino non Valida</label>
        <locationX>536</locationX>
        <locationY>567</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Toast_error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;{!DipendenteLookup.recordName} ha già inserito un cartellino in quella data. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;Inserisci una data corretta.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>if_get_Record_dont_find_records</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Crea_Cartellino_Flow</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordquery</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Time_Management__c</objectType>
    </variables>
</Flow>
